.container
	.hero-unit
		%h1
			Hi नमस्ते Sawubona Hola سلام Bonjour
		%p
			I'm a software developer, geo-political intelligence analyst, security consultant and an internationalist.
		
	.row
		.span4
			%h2
				%b philosophie
			%p
				%b non-traditional, austere and developing countries
				%em eco-conscious, sustainable development in dangerous places
				%b risk management, geopolitical intelligence and security
			%p
				%a.btn{:href => '/contact'} find me
		.span4
			%h2
				%b gSchool
			%p
				gSchool provides real world technical and business training for motivated individuals. The progams we offer are in-person, full-time, and apply real-world situational learning.
			%p
				%a.btn{:href => 'http://gschool.it', :target=>"_blank"} más
		.span4
			%h2
				%b méthode
			%p
				Ruby, Rails, diesel Mercedes, Sinatra, javascript, Glock .23, pairing, testing, M-4/AK-74, RSpec, MiniTest, GitHub, Tor, agile, GNU/Linux, MacOS, vim, Satcoms, semi off-grid
			%p
				%a.btn{:href => '/cv'} plus
		

	%hr

	%div= haml :footer
