body {
	padding-top: 60px;
	padding-bottom: 40px;
}

a.btn {border: solid 1px #999999;
  box-shadow: 2px 2px 4px #666666;
  -moz-box-shadow: 10px 10px 4px #666666;
  -webkit-box-shadow: 10px 10px 4px #666666;
}

.hero-unit{border: solid 1px #999999;
  box-shadow: 10px 10px 10px #666666;
  -moz-box-shadow: 10px 10px 10px #666666;
  -webkit-box-shadow: 10px 10px 10px #666666;}
